@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body
{
    background: white;
}

.sidebar
{
    width: 270px;
    position: fixed;
    background: black;
    height: 100vh;
    transition: 0.4s ease;
}

.sidebar.collapsed
{
    width: 85px;
}

.sidebar-header
{
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img
{
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggle
{
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    color: #151A2D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggle
{
    transform: translate(-4px, 65px);
}

.sidebar-header .toggle:hover
{
    background: #dde4fb;
}

.sidebar-header .toggle span
{
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggle span
{
    transform: rotate(180deg);
}

.sidebar-nav .nav-list
{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 12px 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav
{
    transform: translate(0, 65px);
}

.sidebar-nav .nav-link
{
    color: #fff;
    display: flex;
    gap: 12px;
    border-radius: 25px;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: 0.4s ease   ;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link.default-active
{
    color: #151A2D;
    background: #fff;
}

.sidebar-nav .nav-link .nav-label
{
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label
{
    opacity: 0;
    display: none;
    pointer-events: none;
}

.sidebar-nav .secondary-nav
{
    position: absolute;
    bottom: 30px;
    width: 100%;
}