<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <aside class="sidebar">
        <header class="sidebar-header">
            <a href="#" class="header-logo">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
            </a>
            <button class="toggle sidebar-toggle">
                <span class="material-symbols-rounded">
                    chevron_left
                </span>
            </button>
        </header>

        <nav class="sidebar-nav">

            <ul class="nav-list primary-nav">
                <li class="nav-items">
                    <a href="{{ url_for('home') }}" class="nav-link default-active">
                        <span class="nav-icon material-symbols-rounded">
                            home
                        </span>
                        <span class="nav-label">Home</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="{{ url_for('model') }}" class="nav-link">
                        <span class="nav-icon material-symbols-rounded">
                            robot_2
                        </span>
                        <span class="nav-label">Model</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="{{ url_for('about') }}" class="nav-link">
                        <span class="nav-icon material-symbols-rounded">
                            person
                        </span>
                        <span class="nav-label">About</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="{{ url_for('help') }}" class="nav-link">
                        <span class="nav-icon material-symbols-rounded">
                            help
                        </span>
                        <span class="nav-label">Help</span>
                    </a>
                </li>
            </ul>

            <ul class="nav-list secondary-nav">
                <li class="nav-items">
                    <a href="#" class="nav-link">
                        <span class="nav-icon material-symbols-rounded">
                            account_circle
                        </span>
                        <span class="nav-label">Profile</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-link">
                        <span class="nav-icon material-symbols-rounded">
                            logout
                        </span>
                        <span class="nav-label">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        {% if page == "home" %}
            <h1>Home Page</h1>
            <p>This is the Home Section.</p>
        {% elif page == "model" %}
            <h1>Model Page</h1>
            <p>Upload and Analyze your Model here !</p>

            <div class="upload-wrapper">
                <div class="upload-container">
                    <input type="file" id="fileInput" class="file-input" hidden>
                    <label for="fileInput" class="dropbox">
                        <span class="upload-icon material-symbols-rounded">upload</span>
                        <p class="upload-text">Drag & Drop or <span class="browse-text">Browse</span> to Upload</p>
                        <p class="file-name">No file chosen</p>
                    </label>
                </div>
            </div>
            
        {% elif page == "about" %}
            <h1>About Us</h1>
            <p>Learn more about the Project !</p>
        {% elif page == "help" %}
            <h1>Help Center</h1>
            <p>Find FAQs and Support Information !</p>
        {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>