<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Purchase</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <aside class="sidebar">

        <header class="header">
            <img class="logo" src="../static/images/logo.jpg">
            <p class="profile-name">Krishna Verma</p>
        </header>

        <nav class="sidebar-nav">
            <ul class="nav-items">
                <li class="item def-act">
                    <a href="#" class="link">Home</a>
                </li>
                <li class="item">
                    <a href="#" class="link">Model</a>
                </li>
                <li class="item">
                    <a href="#" class="link">About</a>
                </li>
                <li class="item">
                    <a href="#" class="link">Help</a>
                </li>
            </ul>
        </nav>
    </aside>
</body>
</html>